/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/bg-intro-mobile.png") hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 100%);
}

.main {
  margin: 0rem 1.625rem;
  text-align: center;
}

.heading {
  margin: 5.9375rem 1.25rem 1.375rem 1.375rem;
  font-size: 1.6875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.description {
  margin-bottom: 3.9375rem;
  line-height: 1.625rem;
}

.offer-field {
  margin-bottom: 1.25rem;
  padding: 1.25rem 2.625rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.625rem;
  box-shadow: 0rem 1.5rem 1.4375rem -0.625rem hsl(249, 10%, 26%);
}

.offer-text {
  font-size: 1rem;
}
.offer-text__bold {
  font-weight: 700;
}

.form-field {
  border-radius: 0.625rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0rem 1.5rem 1.4375rem -0.625rem hsl(249, 10%, 26%);
}

.fchild {
  margin-top: 1.625rem;
}

.list-with-inputs {
  position: relative;
}

.icon-error {
  display: none;
  position: absolute;
  right: 1.875rem;
  top: 0.9375rem;
}

.ficon {
  top: 2.5625rem;
}

.input-form {
  width: 90%;
  padding: 1.125rem 0rem 1.125rem 1.25rem;
  margin-bottom: 1.0625rem;
  font-size: 0.9375rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  border: solid 0.0625rem hsl(246, 25%, 77%);
}

.name-error,
.lname-error,
.password-error,
.email-error {
  display: none;
  margin: 0.3125rem 1.25rem 0.625rem 0rem;
  color: hsl(0, 100%, 74%);
  text-align: right;
  font-size: 0.625rem;
  font-weight: 500;
}

.form-btn {
  width: 90%;
  padding: 1.1875rem 0rem;
  margin-bottom: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(154, 59%, 51%);
  transition: background-color 0.5s;
  cursor: pointer;
}

.form-btn:hover {
  background-color: hsl(154, 83%, 25%);
}

.form-accept {
  margin: 0rem 2.8125rem;
  padding-bottom: 1.5625rem;
  font-size: 0.6875rem;
  color: hsl(246, 25%, 77%);
  line-height: 1.25rem;
}
.form-accept__bold {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  cursor: pointer;
}

.form-wrapper {
  padding-bottom: 4.375rem;
}

@media (min-width: 576px) {
  .main {
    margin: 0rem 2.8125rem;
  }
  .heading {
    margin: 5.9375rem 3.4375rem 1.375rem 3.4375rem;
    font-size: 1.75rem;
  }
  .description {
    font-size: 1.0625rem;
  }
  .offer-field {
    margin-bottom: 1.875rem;
    padding: 1.25rem 7.5rem;
  }
  .offer-text {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  .fchild {
    margin-top: 2.1875rem;
  }
  .icon-error {
    right: 3.75rem;
    top: 0.9375rem;
  }
  .ficon {
    top: 3.125rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin: 0rem 2.5rem 0.9375rem 0rem;
    font-size: 0.6875rem;
  }
  .form-btn {
    margin-bottom: 0.625rem;
    font-size: 1rem;
    letter-spacing: 0.04375rem;
  }
}
@media (min-: 768px) {
  .description {
    font-size: 1.125rem;
  }
  .offer-field {
    margin-bottom: 1.875rem;
    padding: 1.25rem 14.375rem;
  }
  .offer-text {
    font-size: 1.1875rem;
  }
  .icon {
    right: 6.875rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin-right: 2.5rem;
    font-size: 0.75rem;
  }
  .form-btn {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  .offer-field {
    margin-bottom: 2.5rem;
  }
  .fchild {
    margin-top: 2.5rem;
  }
  .icon-error {
    right: 5rem;
  }
  .ficon {
    top: 3.4375rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin-right: 3.125rem;
  }
  .form-btn {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .main {
    margin: 0rem 5rem;
  }
  .offer-field {
    margin-bottom: 2.5rem;
  }
  .fchild {
    margin-top: 2.5rem;
  }
  .ficon {
    top: 3.4375rem;
  }
  .icon-error {
    right: 5rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin-right: 3.75rem;
  }
}
@media (min-width: 1440px) {
  body {
    background: url("../img/bg-intro-desktop.png") hsl(0, 100%, 74%);
  }
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
  .text-wrapper {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-content: center;
    text-align: left;
  }
  .offer-wrapper,
  .form-wrapper {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .heading {
    margin: 4.6875rem 1.25rem 1.5625rem 5.3125rem;
    font-size: 2.875rem;
    line-height: 3.4375rem;
    letter-spacing: 0.10625rem;
  }
  .description {
    padding-left: 5.3125rem;
    font-size: 1rem;
    line-height: 1.6875rem;
  }
  .offer-field {
    margin: 4.375rem 5.3125rem 0rem 0rem;
    padding: 1rem 1.875rem;
    text-align: center;
  }
  .offer-text {
    font-size: 0.9375rem;
    letter-spacing: 0.01875rem;
  }
  .form-field {
    text-align: center;
    margin-right: 5.3125rem;
    margin-top: 9.375rem;
  }
  .input-form {
    width: 85%;
    padding-left: 1.875rem;
    margin-bottom: 1.25rem;
  }
  .fchild {
    margin-top: 1.5625rem;
  }
  .form {
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    margin-bottom: -0.3125rem;
  }
  .form-btn {
    width: 85%;
    padding: 1.1875rem 0rem;
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
    letter-spacing: 0.053125rem;
  }
  .form-accept {
    padding-bottom: 2.5rem;
  }
  .ficon {
    top: 2.5rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin-right: 2.8125rem;
  }
}
@media (min-width: 1600px) {
  .heading {
    margin-right: 6.25rem;
    font-size: 3.5rem;
  }
  .description {
    margin-right: 10rem;
    font-size: 1.125rem;
  }
  .name-error,
  .lname-error,
  .password-error,
  .email-error {
    margin-right: 3.75rem;
  }
}/*# sourceMappingURL=main.css.map */